* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.compass-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

/* Круг компаса */
.compass-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 20px solid lch(100% 0.01 296.81);
  background: hwb(30 73% 26% / 0.784);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-out;
  box-shadow: 0 4px 10px lab(27.38% 1.27 0.45),
    /* мягкая тень снизу */
    inset 0 -2px 6px lab(5.43% -0.2 0.55);
  /* внутренний эффект объёма */
}

/* Буквы компаса */
.compass-letter {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.compass-letter.north {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.compass-letter.east {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.compass-letter.south {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.compass-letter.west {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* Стрелка ветра */
.compass-arrow {
  position: absolute;
  width: 12px;
  height: 140px;
  background: linear-gradient(to top, #ef4444, #f87171);
  border-radius: 6px;
  transform-origin: bottom center;
  box-shadow: 0 0 16px rgba(239, 68, 68, 0.7), 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%, 50%);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Иконка погоды */
.weather-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/* Индикатор дождя */
.rain-warning {
  position: absolute;
  top: -40px;
  /* немного выше верхней границы круга */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #00bfff;
  font-weight: bold;
  z-index: 20;
  /* выше всех слоев компаса */
}

.umbrella-icon {
  width: 24px;
  height: 24px;
}